<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.commonsware.cwac.netseccfg.test"
  xmlns:android="http://schemas.android.com/apk/res/android"
  android:versionCode="1"
  android:versionName="1.0">

  <application android:networkSecurityConfig="@xml/verisign">
    <meta-data
      android:name="android.security.net.config"
      android:resource="@xml/verisign" />
  </application>

</manifest>